body{
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  font-weight: 750;
  letter-spacing: 20px;
  background-color: #e0eaf9;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 25%;
}


.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.time-display.night i {
  color: yellow;
}

.time-display.day i {
  color: red;
}


.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.night {
  background-color: blue;
}

.day {
  background-color: orange;
}
